{% extends 'base.html'%}

{% load static %}

{% block link_de_css%}
    <link href="{% static 'contact/css/contact.css'%}" rel="stylesheet">
{% endblock %}

{% block conteudo_body%}
    <div class="contact-overlay">
        <div class="talk-us-container">
            <h1 class="talk-us-tittle">
                Fale com a gente
            </h1>
        </div>
    </div>

    <div class="forms-container">
        <form method="post" id="contact-form">
            <h2 class="forms-title">Nos mande uma mensagem</h2>
            <input type="text" id="name" placeholder="Nome">
            <input type="text" id="email" placeholder="E-mail">
            <textarea id="message" rows="8" cols="30" placeholder="Mensagem"></textarea>
            <button id="confirm">ENVIAR MENSAGEM</button>
        </form>

        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.4838357517233!2d-40.82580864907001!3d-14.854199589590483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7463a4442a95397%3A0xd5fcd4f69b804597!2sAv.%20Al%C3%ADrio%20Sales%2C%2075%20-%20Candeias%2C%20Vit%C3%B3ria%20da%20Conquista%20-%20BA!5e0!3m2!1spt-BR!2sbr!4v1648323529634!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="map-tittle">Av. Espanha, 74 - Candeias, Vitória da Conquista - BA, 45028-110</p>
        </div>
    </div>
{% endblock %}